body {
  margin: 68px 0 0 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-item .active {
  color: white !important;
}

.nav-link:hover {
  color: white !important;
}

aside {
  top: 68px;
  min-height: calc(100vh - 68px);
}

@media (max-width: 576px) {
  aside {
    min-height: 0;
  }
}

header {
  height: 68px;
  z-index: 1050;
}